<div class="card">
    <div class="card-body">
        <h1>{{postagens.titulo}}</h1>
        <small>{{postagens.conteudo}}</small><br>
        <small>{{postagens.descricao}}</small>
        <hr>
        <p>Criando em {{postagens.data}}</p>
    </div>
</div>